[submodule "themes/massively"]
	path = themes/massively
	url = https://github.com/curtiscde/hugo-theme-massively
[submodule "themes/virgo"]
	path = themes/virgo
	url = https://github.com/loveminimal/hugo-theme-virgo
